.navbar-container {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 3rem;
    margin-bottom: 2rem;
    position: fixed; /* Positionner la navbar de manière fixe */
    top: 0; /* La placer en haut de la page */
    left: 0;
    width: 100%; /* S'assurer qu'elle prend toute la largeur */
    z-index: 1000; /
}

.button-container {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Light';
    font-weight: bold;
}

a {
    color: white; /* Couleur du lien */
    text-decoration: none; /* Supprimer le soulignement par défaut */
    margin-right: 3rem;
    font-size: 15px;
}

a:hover {
    color: white; /* Couleur du lien au survol */
}

.logo-container {
    display: flex;
    align-items: center;
    /* right: 0; */
}

img {
    height: 2rem;
}