.navbar-container {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 4rem;
    margin-bottom: 2rem;
}
/* 
@media (width< 400px) {
    .navbar-container {
        display: flex;
        justify-content: center;
        background-color: black;
        height: 4rem;
        width: 110%;
        margin-bottom: 2rem;
    }
}
   */

.button-container {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Light';
    font-weight: bold;
}

a {
    color: white; /* Couleur du lien */
    text-decoration: none; /* Supprimer le soulignement par défaut */
    margin-right: 1rem;
}

a:hover {
    color: white; /* Couleur du lien au survol */
}

.logo-container {
    display: flex;
    align-items: center;
    /* right: 0; */
}

img {
    height: 2rem;
}