.navbar-container {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 3rem;
    margin-bottom: 2rem;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1000; 
}

.navbar-button-container {
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Light';
    font-weight: bold;
}

.link-nav {
    color: white; 
    text-decoration: none; 
    margin-right: 3rem;
    font-size: 15px;
}

.link-nav:hover {
    color: white; 
}

.logo-container {
    display: flex;
    align-items: center;
}

img {
    height: 2rem;
}

@media (max-width: 450px) {
    .navbar-container {
        width: 100%;
        padding: 0; 
    }

    .navbar-button-container {
        gap: 1rem; 
    }

    .link-nav {
        font-size: 12px; 
        margin-right: 0
    }

    img {
        height: 1.5rem;
    }
}