@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("Nunito"),
          url("src/assets/fonts/Nunito.ttf") format("truetype");
}


.container-coach {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Light';
}

.coach-img {
    height: 20rem;
    border-radius: 10px;
}

.text-container-coach {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    font-family: 'Light';
    margin-top: 0.5rem;
    p {
        font-weight: 400;
    }
    /* font-size: 15px; */

}

.container-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


p {
    margin: 0;
}

@media (width < 450px) {

    .container-coach {
        margin-left: -7rem;
    }
    .coach-img {
        height: 12rem;
    }

    .container-text {
        width: 100%;
    }
}