@font-face {
  font-family: "Medium";   /*Can be any text*/
  src: local("TRBalloon"),
        url("src/assets/fonts/TRBalloon.ttf") format("truetype");
}
  

h1 {
 font-family: 'Medium';
 font-size: 3rem; 
}

.title-separation {
 display: flex;
 align-items: center;
}
  
.title-bar {
 background-color: black;
 height: 4px;
 border-radius: 10px;
 width: 40%;
 
}

@media (max-width: 450px) {
  .title-separation {
    gap: 3px;
  }

  .title-bar {
    width: 26%;
    margin: 0;
  }

  h1 {
    font-size: 1.75rem;
  }
}
