@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("Nunito"),
          url("src/assets/fonts/Nunito.ttf") format("truetype");
}

@font-face {
    font-family: "Italic";   /*Can be any text*/
    src: local("Nunito Italic"),
          url("src/assets/fonts/Nunito-Italic.ttf") format("truetype");
}


/* .img-course{
 height: 8rem;
 width: 15rem;
} */

.course-container {
 display: flex;
 justify-content: center;
 margin-top: 1rem;
}

@media (width < 450px) {
    
    .img-container{
        display: flex;
        align-items: center;
    }
    
    .img-course{
        height: 5rem;
        width: 9rem;
    }

    .course-container {
        margin-left: -10rem;
    }

    .course-title {
        font-size: 26px;
    }
    .course-text{
        font-size: 13px;
    }
  }
  

.text-container {
 width: 33%;
}

.course-title{
 font-weight: 800;
 font-family: 'Light';
 margin-bottom: -3px;
 margin-top: 1rem;
}

.course-text{
    font-weight: 400;
    font-family: 'Light';
    /* margin-bottom: -1rem; */
}

