@font-face {
    font-family: "Light";   /*Can be any text*/
    src: local("Nunito"),
          url("src/assets/fonts/Nunito.ttf") format("truetype");
}

@font-face {
    font-family: "Italic";   /*Can be any text*/
    src: local("Nunito Italic"),
          url("src/assets/fonts/Nunito-Italic.ttf") format("truetype");
}


.img-course{
 height: 8rem;
}

.course-container {
 display: flex;
 align-items: center;
 justify-content: center;
/* width: 30%; */
}

.text-container {
 width: 33%;
}

.course-title{
 font-family: 'Italic';
 margin-bottom: -1rem;
}

.course-text{
    font-family: 'Light';
    margin-bottom: -1rem;
   }
   
