.body {
  background-color: #fefefe;
}

@media (width < 450px) {
  .container-top-image {
      margin-left: -7rem;
  }
  .top-image{
    height: 15rem !important;
  }

  
}

.container-top-image {
  display: flex;
  justify-content: center;
}
.top-image{
  height: 18rem;
}
